.leftbarfriendlist {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

.friendimg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .6rem;
}